/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
/* Path: 3-column-preview-card-component-main/assets/images/bg-pattern-card.svg */

:root {
  --white: white;
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --darkcyan: hsl(179, 100%, 13%);
}


body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100vh; /* Full height of the viewport */
  width: 80%; /* Adjust this to control the width of the container */
  max-width: 900px;
  margin: auto; /* This will center the container */
}

.card {
  width: 50%;
  height: 35%;
}

.card__sedan {
  background-color: var(--orange);
  border-radius: 10px 0px 0px 10px;
}

.card__suvs {
  background-color: var(--cyan);
}

.card__luxury {
  background-color: var(--darkcyan);
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
}